* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  text-align: center;
  position: fixed;

  z-index: 99;
  top: 0;
  width: 100%;

  background-color: rgb(41, 17, 63);
  box-shadow: 0px 10px 8px -5px rgba(112, 125, 127, 0.8);
}

header > form {
  margin: 10px auto;
  height: 30px;
  width: 100%;
}

.link {
  display: block;
}
.is-hidden {
  visibility: hidden;
  display: none;
}

.input-field {
  height: 30px;
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  padding: 1px 5px;
}

.btn {
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1px 5px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 70px;
}
.gallery-item {
  display: flex;
  flex-basis: calc(100% / 5 - 20px);
  margin: 10px auto;
}

.photo-card {
  border-width: 1px;
  border-color: blueviolet;
  width: 100%;
}

.photo-card:hover {
  transform: scale(1.1);
}

.photo-card img {
  border: 1px violet;
  width: 100%;
  height: 200px;
}
.info {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: #fff;
  background-color: rgb(75, 56, 155);
  border-radius: 0 0 5px 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  line-height: 1.4;
  text-decoration: none;
  font-size: 12px;
}
